* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

.background {
    background-image: url(./background.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.box {
    background: rgba(240, 240, 240, 0.6);
    border-width: 0px 2px 1px 0px;
    border-style: solid;
    border-color: #fcddec;
    box-shadow: 0px 19px 41px rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    gap: 20px;
    padding: 50px;
}

.box h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #8f00ff;
}

.box h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
}

#question-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#answer-input {
    background: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 46px;
    padding: 20px;
    font-size: 20px;
}

#answer-input:focus-visible {
    outline: 1px solid #8f00ff;
    border: 1px solid #8f00ff;
}

.primary-btn {
    height: 46px;
    background-color: #8f00ff;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 32px;
    margin-bottom: 30px;
}

.primary-btn:hover {
    background-color: #9917fc;
    cursor: pointer;
}

.primary-btn:focus {
    background-color: #9f28fa;
}

@media (max-width: 786px) {
    .box {
        width: 80%;
        height: 360px;
        padding: 20px;
    }
    .box h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .box h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .primary-btn {
        font-size: 24px;
        height: 36px;
    }
    #answer-input {
        height: 36px;
    }
}
